<div class="dice_main_container jumbotron">
  <div class="row marzero">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="gallery">
        <div class="img-w"><img class="img-fluid" src="../../assets/img/img/PLATO/dashboard.png" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="../../assets/img/img/PLATO/2.png" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="../../assets/img/img/PLATO/3.png" alt="" /></div>
        <!-- <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1470171119584-533105644520?dpr=1&auto=format&fit=crop&w=1500&h=886&q=80&cs=tinysrgb&crop=" alt="" /></div> -->
        <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?dpr=1&auto=format&fit=crop&w=1500&h=969&q=80&cs=tinysrgb&crop=" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1485889397316-8393dd065127?dpr=1&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop=" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1485871800663-71856dc09ec4?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" /></div>
        <div class="img-w"><img class="img-fluid" src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" /></div>
      </div>
    </div>
  </div>
</div>