<div class="skills-charts" id="skills-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <mat-card id="skills-card">
        <mat-card-content>
          <h1>skills & experience</h1>
          <p id="skills-card-para">
            Main area of my expertise is front end development and 
            everything related with this side of web. HTML, CSS, JavaScript
            building small & big Web Apps, Angular 2+, features and animations.</p>
          <p id="skills-card-para">
            I also work as a Full Stack Developer - mainly in MEAN Stack
            environment and also with java restful services.
          </p>
          <p id="skills-card-para">
            I have also some experience with MongoDB, MySql, Node.js.
          </p>
          <p id="skills-card-para">
            Would like to know more? 
          </p>
          <p id="skills-card-para">
            Please check my
            <a href="#">LinkedIn</a>
            profile or just
            <a href="#">contact</a>
            me.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <div class="chart-container">
        <div class="chart-info">
          Click to see details...
        </div>
        <div class="skill-chart">
          <svg height="500" width="500"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
