<div id="home-container">
  <div id="particles-js">
    <!-- info-container -->
    <div class="position-absolute myInfo-container">
      <div id="info-card" class="text-center">
        <p id="info-card-para">Hi,</p>
        <p id="info-card-para">I'm <span>Navneet Kumar</span> ,</p>
        <!-- <p id="info-card-para">Full Stack Developer.</p> -->
        <p id="para-sm">Front End Developer (Angular 2+) / Back End Developer / MEAN Stack Developer. </p>
        <button mat-stroked-button (click)="routing('contact')">Let's Talk</button>
      </div>      
    </div>

    <!-- coder-container -->
    <div class="position-absolute myCoder-container">
      <div id="coder-card" class="text-justify myCard">
        <h1 class="card-title">&lt;coder&gt;</h1>
        <p id="para-sm">Front End / Back End Developer who focuses on writing clean, elegant and efficient code.</p>
      </div>
    </div>

    <!-- designer container -->
    <div class="position-absolute myDesigner-container">
      <div id="designer-card" class="myCard">
        <h1 class="card-title">designer</h1>
        <p id="para-sm">UI/UX Designer with a passion for designing beautiful and functional user experiences.</p>
      </div>
    </div>
  </div>
</div>