$lBox-width: 280px !important;
$mBox-wdith: 200px !important;

#home-container {
    height: 100%;
    // background-image: url('../../assets/bg/myPic.jpg');
    background-image: url('../../assets/bg/home-bg.jpg');
    background-size: cover;
    background-position: center;

    #particles-js {
        height: 100% !important;
    }

    p {
        margin: 3px auto !important;
    }

    h1 {
        font-size: 28px;
    }

    .myInfo-container {
        top: 35%;
        left: 35%;

        #info-card {
            max-width: 400px;

            #info-card-para {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                font-size: 28px;

                span {
                    font-weight: bold;
                    font-family: cursive;
                    color: blue;
                    font-size: 44px;
                    text-shadow: 3px 3px 3px #000000;
                }
            }

            button {
                margin-top: 1rem !important;
            }

            #para-sm {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
                color: white;
            }

            button {
                float: left;
                color: white;
            }
        }
    }

    .card-title {
        text-shadow: 3px 3px 3px #000000;
    }

    .myCoder-container {
        bottom: 5%;
        left: 5%;

        #coder-card {
            width: $lBox-width;
            color: white !important;
        }
    }

    .myDesigner-container {
        bottom: 5%;
        right: 5%;

        #designer-card {
            width: $lBox-width;
            color: white !important;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only (min-width: 700px) and (max-width: 900px) {
    #home-container {
        height: 100%;
        // background-image: url('../../assets/bg/myPic.jpg');
        background-image: url('../../assets/bg/home-bg.jpg');
        background-size: cover;
        background-position: center;
    
        p {
            margin: 3px auto !important;
        }
    
        h1 {
            font-size: 25px;
        }
    
        .myInfo-container {
            top: 180px;
            left: 12rem;
    
            #info-card {
                padding: 10px;
                min-width: fit-content;
                max-width: 400px;
    
                #info-card-para {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: white;
                    font-size: 20px;
    
                    span {
                        font-weight: bold;
                        font-family: cursive;
                        color: blueviolet;
                        font-size: 40px;
                    }
                }
    
                #para-sm {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;
                    color: white;
                }
    
                button {
                    float: left;
                    color: white;
                }
            }
        }
    
        .myCoder-container {
            bottom: 5%;
            left: 5%;
    
            #coder-card {
                width: $mBox-wdith;
                color: white !important;

                p {
                    font-size: 14px;
                }
            }
        }
    
        .myDesigner-container {
            bottom: 5%;
            right: 5%;
    
            #designer-card {
                width: $mBox-wdith;
                color: white !important;

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    #home-container {
        height: 100%;
        // background-image: url('../../assets/bg/myPic.jpg');
        background-image: url('../../assets/bg/home-bg.jpg');
        background-size: cover;
        background-position: center;
    
        p {
            margin: 3px auto !important;
        }
    
        h1 {
            font-size: 28px;
        }
    
        .myInfo-container {
            top: 200px;
            left: 1rem;
    
            #info-card {
                padding: 10px;
                min-width: fit-content;
                max-width: 400px;
    
                #info-card-para {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: white;
                    font-size: 20px;
    
                    span {
                        font-weight: bold;
                        font-family: cursive;
                        color: blueviolet;
                        font-size: 33px;
                    }
                }
    
                #para-sm {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;
                    color: white;
                }
    
                button {
                    float: left;
                    color: white;
                }
            }
        }
    
        .myCoder-container {
            display: none !important;
            bottom: 5%;
            left: 5%;
    
            #coder-card {
                width: $mBox-wdith;
                color: white !important;
            }
        }
    
        .myDesigner-container {
            display: none !important;
            bottom: 5%;
            right: 5%;
    
            #designer-card {
                width: $mBox-wdith;
                color: white !important;
            }
        }
    }
} 